.container {
  margin-top: 50px;
  width: 100%;  
  display: flex;
  justify-content: center;
}

.formContainer {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
}
.alert {
  text-align: center;
  margin-top: 20px;
}

.button {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.savedCards {
  margin-top: 10px;
}

.submitButton {
  width : 100%;
}

